<h1>Pages#index</h1>
<p>Hola Mundo</p>

<%= link_to 'about', pages_about_path %>

<section class="container text-center">

<div class="my-3">
  <button type="button" class="btn btn-primary btn-success">
    <h1><a href="/records/LISTA_DE_PRECIO_14.09.pdf" target="_blank" class="text-white" download="PRECIOS EMPORIO LA CORUÑA AL 14-09-2020">DESCARGAR ACÁ LISTA DE PRECIOS</a></h1>        
  </button>
  </div>

<hr class="my-3">

©Copyright <%= Time.now.year %>